/*general style sheet css*/

body {
    margin: 0;
}

html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 20px;
    background-color: #ccc;
}


    /* Rulesets to be matched up with selectors */

.card  {
    width: 90%;
    height: 100%;
    margin: 5% 5%;
    background-color: red;
    border: 0.2em solid black;
    border-radius: 1.5em;
}

h2 p {
    margin: 0;
}

h2 {
    height: 1.8em;
    font-size: 1.8em;
    line-height: 1.1em;
    padding: 2%;
}

 .card article {
    height: 100%;
    background-color: hsla(144,40%,40%,0.3);
}
.card header footer {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
    padding-top: .6em;
    padding-bottom: .6em;
    height: 3.1em;
}

article p {
    padding: 2%;
}

footer p {
    background-image: linear-gradient(to bottom,rgba(0,0,0,0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
    font: italic 1.8em/1.1em 'Gabriola', cursive;
}

.card article img {
    max-height: 100%;
    max-width: 100%;
    float: right;
}