<div ng-controller="LoginController" class=" container">
    <div class="container center-block">
        <a href="#">
            <img src="" alt="image" class="center-block img-thumbnail">
        </a>
        <div class="panel-heading text-center">
            <p class="text-center ">Sign in to continue</p>
        </div>
        <div class="panel-body">
            <form role="form" validate-form="" novalidate="" class="form-group-sm" name="loginForm" ng-submit="loginAdmin()">
                <div class="form-group has-feedback">
                    <input id="InputEmail1" type="email" placeholder="Enter email"
                           ng-model="account.email" required="required" class="form-control"/>
                    <span class="fade form-control-feedback text-muted"></span>
                </div>
                <div class="form-group has-feedback">
                    <input id="InputPassword1" type="password" placeholder="Enter password"
                           ng-model="account.password" required="required" class="form-control"/>
                    <span class="fade form-control-feedback text-muted"></span>
                </div>
                <div class="clearfix">
                    <div class="checkbox pull-left">
                        <label>
                            <input type="checkbox" value="" name="remember" ng-model="account.remember"/>
                            <span class="fade"></span>Remember Me</label>
                    </div>
                    <div class="pull-right"><a ui-sref="page.recover" class="text-muted">Forgot your password?</a>
                    </div>
                </div>
                <button type="submit" class="btn btn-block btn-primary">Login</button>
            </form>
            <div ng-show="authMsg" class="alert alert-danger text-center">{{authMsg}}</div>
            <span class="label label-default">Don't have an account yet?
                <a ui-sref="page.register" class="btn btn-block btn-default">
                    Create an Account</a>
            </span>
        </div>
    </div>
<!-- End pannel-->

</div>